@using WorkTracker.Models
@model WorkItemModel
    @{ 
        var forModal = "";
        var isModal = "no";
        if (Model.forModal == true)
        {
            forModal = "Modal";
            isModal = "yes";
        }

        var paneltype = "list-group-item-warning";
        if (Model.approvalStatus == ItemStatus.Status.Approved)
        {
            paneltype = "list-group-item-success";
        }
        else if (Model.approvalStatus == ItemStatus.Status.Denied)
        {
            paneltype = "list-group-item-danger";
        }
    }
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">@(Model.title)</div>
        <ul class="list-group">
            <li class="list-group-item @(paneltype)" id="workItemStatusLine@(Model.itemID)@(forModal)">Status: @(Model.approval)</li>
            <li class="list-group-item">Starting: @(Model.time)</li>
            <li class="list-group-item">Cost: @(Model.cost)</li>
            <li class="list-group-item">Assigned To: @(Model.assignedTo)</li>
            @if (Model.canApprove == true)
            {
                if (Model.approvalStatus == ItemStatus.Status.Pending)
                {
                    <li class="list-group-item" id="workItemApproveLine@(Model.itemID)@(forModal)"><button data-itemid="@(Model.itemID)" data-ismodal="@(isModal)" class="btn btn-success workItemApproveBtn">Approve</button> <button data-itemid="@(Model.itemID)" data-ismodal="@(isModal)" class="btn btn-danger workItemDenyBtn">Deny</button></li>
                }
            }
            <li class="list-group-item">
                <div class="panel panel-primary" style="">
                    <div class="panel-heading toggleArrowContainer" onclick="void(0)" data-target="#historyGroup@(Model.itemID)@(forModal)">History <span class="arrowIcon glyphicon glyphicon-chevron-up pull-right"></span></div>
                    <ul class="list-group collapse" id="historyGroup@(Model.itemID)@(forModal)">
                        @foreach (var history in Model.history)
                        {
                            <li class="list-group-item">@(history)</li>
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>

