@model WorkTracker.Models.CreateViewModel
@{
    ViewBag.Title = "Create Work Item";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateWorkItem", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id="createForm" }))
{
    @Html.AntiForgeryToken()
    <h4>Fill out the fields below to create your Work Item.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger", @id = "validationSpot" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ItemDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ItemDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cost, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Hours, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Hours, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AssignedTo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.AssignedTo, new SelectList(Model.AssignedToList, "Id", "FullName"), new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(m => m.CreatedBy);
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="createWorkItemBtn" class="btn btn-primary" value="Create Work Item" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        $("#ItemDate").datepicker();

        $("#createWorkItemBtn").click(function () {
            $.ajax(
                {
                    url: "CreateWorkItem",
                    data: $("#createForm").serialize(),
                    success: function (result) {
                        clearValidation();
                        if (result.Result == true) {
                            //good, add to the table of added work items
                        } else {
                            //validation or error
                            for (var i = 0; i < result.validations.length; i++) {
                                addValidationItem(result.validations[i]);
                            }
                        }
                    },
                    error: function (result) {
                        alert("Got an error response from server!");
                    }
                }
                );
        });
        function clearValidation() {
            $("#validationSpot ul").html("");
        }
        function addValidationItem(newItem) {
            $("#validationSpot ul").append('<li>' + newItem + '</li>');
        }
    });
</script>
