@using WorkTracker.Models
@model DashboardModel
@{
    var roleTitleName = "My";
    if (Model.userRole == Role.RoleTypes.Admin)
    {
        roleTitleName = "Admin";
    }else if (Model.userRole == Role.RoleTypes.Owner)
    {
        roleTitleName = "Owner";
    }
    ViewBag.Title = roleTitleName + " Dashboard";
}
@*@Html.Partial("_Notifications", Model.NotificationModel)*@

<div class="row">
    <h1>@(roleTitleName) Dashboard</h1>
    <div class="col-xs-12">
        <a href="/Home/Create" type="button" class="btn btn-success">Create New</a>
        @if (Model.userRole == Role.RoleTypes.Admin || Model.userRole == Role.RoleTypes.Owner)
        {
            <a href="/Home/Report" type="button" class="btn btn-success">Reports</a>
            <a href="/Home/Employees" type="button" class="btn btn-success">Employees</a>
        }
        
    </div>
    <div class="col-xs-12">
        <h3>Daily Work Report Items</h3>
    </div>
    <div class="col-xs-12" style="padding-bottom:10px">
        User: @Html.DropDownListFor(m => m.workItemUserFilter, Model.userFilterOptions, new { @class = "form-control", style = "display: inline", id = "userFilter" })
    </div>
    <div class="col-xs-12">
        Paid Status: @Html.DropDownListFor(m => m.workItemPaidStatusFilter, Model.paidStatusFilterOptions, new { @class = "form-control", style = "display: inline", id = "paidFilter" })
    </div>
</div>
<div class="row" style="padding-bottom:10px">
</div>
@Html.AntiForgeryToken()
@Html.Partial("_WorkItemList", Model.WorkItemListModel)
<script type="text/javascript" src="~/Scripts/jquery-notify.min.js"></script>
<script>
    //toggle Arrow when clicked
    $(document).on('click', '.toggleArrowContainer', function () {
        var myIcon = $(this).find('.arrowIcon');
        myIcon.toggleClass("glyphicon-chevron-down glyphicon-chevron-up");

        //try to toggle the collapse, this will fix the Iphone/Ipad issue with the collapse not working
        var collapseTarget = $(this).data('target');
        if (collapseTarget != null) {
            $(collapseTarget).collapse('toggle');
        }
    });

    //Create Notification on top of the window
    function createNotification(text, type) {
        $.notify.create(text, {
            appendTo: '.body-content',
            sticky: false,
            adjustScroll: true,
            type: type,
            style: 'box'
        });
    }

    //On User Filter change then reload page showing only the work items for that user
    $("#userFilter").change(function (e) {
        setFilter();
    });

    //On Paid Filter change then reload page showing only the work items for that user
    $("#paidFilter").change(function (e) {
        setFilter();
    });

    //Change the page to activate the new filter
    function setFilter() {
        var userFilter = $("#userFilter").val();
        var paidFilter = $("#paidFilter").val();
        window.location.href = "/Home/Dashboard/" + userFilter + "/"+paidFilter;
    }
</script>